In [1]:
import numpy as np
import pandas as pd
from matplotlib.pyplot import plot as plt

In [8]:
a = pd.read_excel("a.xlsx")
b = pd.read_excel("b.xlsx")
c = pd.read_excel("c.xlsx")
d = pd.read_excel("d.xlsx")
e = pd.read_excel("e.xlsx")
f = pd.read_excel("f.xlsx")

In [5]:
a.head()

  题目类型        队号 队长姓名    队长所在学校 第一队友姓名  第一队友所在学校 第二队友姓名  第二队友所在学校 所获奖项
0    A  10013008   高雄    北京邮电大学     李响    北京邮电大学    陈彦虎    北京邮电大学  一等奖
1    A  10147001  蒲凌杰  辽宁工程技术大学    吕雅婷  辽宁工程技术大学     赵静  辽宁工程技术大学  一等奖
2    A  10252401  朱伟明    上海理工大学     王宁    上海理工大学    吕鹏程    上海理工大学  一等奖
3    A  10254014  徐凤新    上海海事大学    朱若琪    上海海事大学     吴方    上海海事大学  一等奖
4    A  10270029  黄中武    上海师范大学     彭钰    上海师范大学    丁子怡    上海师范大学  一等奖

In [16]:
data = a.append(b).append(c).append(d).append(e).append(f)

In [17]:
data.reset_index(drop=True,inplace=True)

In [20]:
data.rename({u'题目类型':'Problem',
             u'队号':'Team',
             u'队长姓名':'CaptainName',
             u'队长所在学校':'CaptainSchool',
             u'第一队友姓名':'FirstMemberName',
             u'第一队友所在学校':'FirstMemberSchool',
             u'第二队友姓名':'SecondMemberName',
             u'第二队友所在学校':'SecondMemberSchool',
             u'所获奖项':'Prize'
            },axis=1,inplace = True)

In [21]:
data.head()

,Problem,Team,CaptainName,CaptainSchool,FirstMemberName,FirstMemberSchool,SecondMemberName,SecondMemberSchool,Prize
0,A,10013008,高雄,北京邮电大学,李响,北京邮电大学,陈彦虎,北京邮电大学,一等奖
1,A,10147001,蒲凌杰,辽宁工程技术大学,吕雅婷,辽宁工程技术大学,赵静,辽宁工程技术大学,一等奖
2,A,10252401,朱伟明,上海理工大学,王宁,上海理工大学,吕鹏程,上海理工大学,一等奖
3,A,10254014,徐凤新,上海海事大学,朱若琪,上海海事大学,吴方,上海海事大学,一等奖
4,A,10270029,黄中武,上海师范大学,彭钰,上海师范大学,丁子怡,上海师范大学,一等奖